<h3>Change Password</h3>
<form
    [ngFormModel]="formChangePass"
    class="well"
    (ngSubmit)="changePass()">
    <div class="form-group">
        <label for="username">Current Password</label>
        <input
            #currentPass="ngForm"
            ngControl="currentPassword"
            type="text" 
            class="form-control"
        >
        {{ currentPass.errors | json }}
        <div
            *ngIf="currentPass.touched && currentPass.errors && currentPass.errors.required"
            class="alert alert-danger">Current password is required.</div>
    </div>
    <div class="form-group">
        <label for="">New Password</label>
        <input
            #newPass="ngForm"
            ngControl="newPassword"
            type="text" 
            class="form-control"
            minlength="5"
        >
        {{ newPass.errors | json}}
        <div *ngIf="newPass.touched && newPass.errors">
            <div
                *ngIf="newPass.errors.required"
                class="alert alert-danger">New password is required.</div>
            <div
                *ngIf="newPass.errors.minlength"
                class="alert alert-danger"
            >New password should be minimum {{newPass.errors.minlength.requiredLength}} characters. </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="">Confirm Password</label>
        <input
            #confirmPass="ngForm"
            ngControl="confirmPassword"
            type="text" 
            class="form-control"
        >
        {{ formChangePass.errors | json}}
        <div *ngIf="confirmPass.touched">
            <div
                *ngIf="confirmPass.errors && confirmPass.errors.required"
                class="alert alert-danger">This field is required.</div>
            <div *ngIf="formChangePass.errors && formChangePass.errors.newPassDontMatch" class="alert alert-danger">Password don't match.</div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>